@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    @apply text-[32px] font-bold leading-normal lg:text-[4rem] lg:leading-normal;
  }
  h2 {
    @apply text-[28px] font-semibold leading-normal lg:text-[38px] lg:leading-normal;
  }
  h3 {
    @apply text-base font-bold leading-normal lg:text-2xl lg:leading-normal;
  }
  h4 {
    @apply text-[25px] font-medium leading-normal;
  }
  p {
    @apply text-base font-normal leading-normal lg:text-lg lg:font-medium lg:leading-normal;
  }
  li {
    @apply text-base font-normal leading-normal lg:text-lg lg:font-medium lg:leading-normal;
  }
}

@layer components {
  .btn-primary {
    @apply min-w-[160px] w-fit px-[32px] py-[23px] lg:px-[51px] rounded-[40px] bg-blue text-center text-base hover:bg-white hover:text-black;
  }
  .btn-secondary {
    @apply min-w-[160px] w-fit px-[32px] py-[23px] lg:px-[51px] rounded-[40px] ring-white ring-1 ring-inset text-center text-base  hover:text-white hover:bg-white hover:text-black;
  }
  .service-icon {
    @apply rounded-[7px] bg-icon w-[33px] h-[34px] p-2 lg:rounded-[13px] lg:w-[61px] lg:h-[63px] lg:p-4;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.navbar-animate {
  animation: slideDown 0.5s ease-out;
}

/* 
@keyframes move-background {
  0% { background-position: -100% 50%; }
  100% { background-position: 200% 50%; }
}

.bg-contact-img {
  animation: move-background 10s linear infinite;
} */